@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    font-family: "Poppins", sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style start */
.display{
    display: flex;
}
.main-container{
    width: 70%;
    margin: 0 auto;
}
.btn-primary{
    color: white;
    background-color: #F40404;
    border: none;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 38px;
    margin-top: 30px;
}
/* shared style end */

/* nav style start */
nav{
    background-color: #F40404;
}
.nav-container{
    width: 70%;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    padding: 30px 0;
}
.nav-content{
    column-gap: 4rem;
    align-items: center;
}
.nav-content ul{
    column-gap: 3.5rem;
}
.nav-content ul li{
    list-style: none;
}
.nav-content ul li a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 600;
}
.btn-contact{
    padding: 13px 30px;
    color: white;
    background-color: transparent;
    font-weight: 600;
    border: 2px solid white;
}
/* nav style end */

/* banner style start */
.banner-container{
    background-image: linear-gradient(166deg, rgba(13, 12, 12, 0.219) 0%, rgba(0, 0, 0, 0.328) 21%, rgba(0, 0, 0, 0.347) 100%, rgba(2, 2, 2, 0.271) 43%, rgba(21, 21, 21, 0.294) 46%, rgba(9, 9, 9, 0.413) 100%), url("../images/banner.png");
    background-repeat: none;
    background-position: center;
    background-size: cover;
}
.banner-content{
    width: 70%;
    margin: 0 auto;
}
.banner-text{
    padding: 18rem 0;
}
.banner-text h1{
    color: white;
    font-weight: 700;
    font-size: 64px;
    max-width: 70%;
}
.banner-text button{
    color: white;
    background-color: #F40404;
    border: none;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 38px;
    margin-top: 30px;
}
/* banner style end */

/* country style start */
.country-container{
    padding: 78px 0 100px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.country-container h1{
    font-size: 48px;
    font-weight: 700;
    color: #000000;
    max-width: 25%;
}
.country-container p{
    font-size:16px;
    font-weight:400;
    color: #6C6C6C;
    max-width: 42%;
}

/* country style end */

/* petroil images info style start */
.petroil-img-container{
    display: flex;
    column-gap: 1rem;
}
.petroil-img-container img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}
/* petroil images info style end*/

/* modern industries section style start */
.modern-container{
    padding-top: 30px;
}
.our-service-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.our-service-content h1{
    font-size: 64px;
    font-weight: 700;
    color: #000000;
}
.our-service-content p{
    font-size: 16px;
    color: #6C6C6C;
    max-width: 45%;
}
.our-industies-1{
    background-image:linear-gradient(166deg, rgba(13, 12, 12, 0.219) 0%, rgba(0, 0, 0, 0.328) 21%, rgba(0, 0, 0, 0.347) 100%, rgba(2, 2, 2, 0.271) 43%, rgba(21, 21, 21, 0.294) 46%, rgba(9, 9, 9, 0.413) 100%), url("../images/modern-1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 50%;
    padding: 150px 150px 150px 110px;
}
.our-industies-1 h1, .supply h1, .fuel h1{
    font-size: 36px;
    color: #FFFFFF;
    font-weight: 700;
}

.supply{
    background-image:linear-gradient(166deg, rgba(13, 12, 12, 0.219) 0%, rgba(0, 0, 0, 0.328) 21%, rgba(0, 0, 0, 0.347) 100%, rgba(2, 2, 2, 0.271) 43%, rgba(21, 21, 21, 0.294) 46%, rgba(9, 9, 9, 0.413) 100%), url("../images/modern-2.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    padding: 150px 150px 150px 110px;
}
.fuel{
    background-image:linear-gradient(166deg, rgba(13, 12, 12, 0.219) 0%, rgba(0, 0, 0, 0.328) 21%, rgba(0, 0, 0, 0.347) 100%, rgba(2, 2, 2, 0.271) 43%, rgba(21, 21, 21, 0.294) 46%, rgba(9, 9, 9, 0.413) 100%), url("../images/modern-3.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    padding: 150px 150px 150px 110px;
}
/* modern industries section style end */

/* about section style start */
.about-main-container{
    background-color: #F0F0F0;
}
.about-container{
    padding: 130px 0;
}
.about-company{
    background: #F40404;
    padding: 100px 70px;
    width: 30%;
}
.about-company{
    color: white;
    font-size: 34px;
    font-weight: 700;
    width: 40%;
}
.about-img{
    background-image: url("../images/road.png");
    width: 70%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-more{
    color: #F40404;
    background-color: white;
    border: none;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 38px;
}
/* about section style end */

/* sponser section style start */
.sponser-container{
    padding: 120px 0;
    display: flex;
    justify-content: space-between;
}
/* sponser section style end */

/* more style started */
.more-container{
    background-color: #F0F0F0;
}
.more-content{
    justify-content: space-between;
    column-gap: 60px;
    padding-top: 130px;
}
.more-box{
    background-image:linear-gradient(166deg, rgba(13, 12, 12, 0.219) 0%, rgba(0, 0, 0, 0.328) 21%, rgba(0, 0, 0, 0.347) 100%, rgba(2, 2, 2, 0.271) 43%, rgba(21, 21, 21, 0.294) 46%, rgba(9, 9, 9, 0.413) 100%), url("../images/more-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding:80px 40px;
}
.more-box-1{
    background-image:linear-gradient(166deg, rgba(13, 12, 12, 0.219) 0%, rgba(0, 0, 0, 0.328) 21%, rgba(0, 0, 0, 0.347) 100%, rgba(2, 2, 2, 0.271) 43%, rgba(21, 21, 21, 0.294) 46%, rgba(9, 9, 9, 0.413) 100%), url("../images/more-2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding:80px 40px;
}
.more-box-2{
    background-image:linear-gradient(166deg, rgba(13, 12, 12, 0.219) 0%, rgba(0, 0, 0, 0.328) 21%, rgba(0, 0, 0, 0.347) 100%, rgba(2, 2, 2, 0.271) 43%, rgba(21, 21, 21, 0.294) 46%, rgba(9, 9, 9, 0.413) 100%), url("../images/more-3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding:80px 40px;
}
.more-box h3,.more-box-1 h3, .more-box-2 h3{
    font-size: 24px;
    font-weight: 700;
    color: white;
    width:70%;
}
.more-box button, .more-box-1 button, .more-box-2 button{
    font-size: 20px;
    font-weight: 700;
    color: white;
    background: rgba(255, 255, 255, 0.5);
    border: none;
    margin-top: 65px;
    padding: 10px 22px;
}
.more-anchor{
    text-align: right;
    padding: 20px 0 130px 0;
}
.more-anchor a{
    text-decoration: none;
    font-size: 20px;
    color: #000000;
    font-weight: 700;
}
.right-button{
    font-size: 20px;
    font-weight: 700;
}
/* more style end */
.maps-img{
    margin: 0;
}
.maps-img img{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.area-main{
    background-color: #F40404;
    margin: 0;
    border-bottom: 4px solid #FFB800;
    position: relative;
    bottom: 7px;
}
.area{
    width: 70%;
    margin: 0 auto;
    justify-content: space-between;
    padding: 25px 0;
    align-items: center;
}
.area h2{
    font-size: 36px;
    color: white;
}
.area h2{
    font-size: 36px;
    color: white;
}
.area-btn button{
    padding: 13px 32px;
    color: #FFFFFF;
    background-color: transparent;
    border: 2px solid white;
}
/* maps style end */